{% extends 'base.html' %}

{% block title %}Patients List{% endblock title %}

{% block content %}
<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

<h1>Patients List</h1>

<div>
    <label for="sort-order">Sort by:</label>
    <select id="sort-order">
        <option value="last_name">Last Name</option>
        <option value="first_name">First Name</option>
    </select>
</div>

<input type="text" id="search-bar" placeholder="Search by name..." />
<ul id="patient-list">
    <!-- Пациенты будут загружаться динамически -->
</ul>

<!-- Модальное окно для карточки пациента -->
<div id="patient-modal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Patient Details</h2>
    <p><strong>First Name:</strong> <span id="patient-first-name" data-id=""></span></p>
    <p><strong>Last Name:</strong> <span id="patient-last-name"></span></p>
    <p><strong>Gender:</strong> <span id="patient-gender"></span></p>
    <p><strong>Age:</strong> <span id="patient-age"></span></p>
    
    <h3>Images</h3>
    <table id="patient-images-table" border="1">
        <thead>
            <tr>
                <th>Date</th>
                <th>Eye</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <!-- Данные будут добавляться динамически -->
        </tbody>
    </table>

    <h3>Upload Image</h3>
    <form id="upload-image-form">
        <label for="upload-date">Date:</label>
        <input type="date" id="upload-date" name="date" required>

        <label for="upload-eye">Eye:</label>
        <select id="upload-eye" name="eye" required>
            <option value="Left">Left</option>
            <option value="Right">Right</option>
        </select>

        <label for="upload-image">Image:</label>
        <input type="file" id="upload-image" name="image" accept="image/*" required>

        <button type="submit">Upload</button>
    </form>
    </div>
    
</div>
{% endblock content%}
